{% extends "layout.html.twig" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>prénom</th>
                <th>auteur</th>
                <th>titre</th>
                <th>sortie</th>
                <th>rendu</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td style="text-align: right; padding-right: 5px;">{{ emprunt.id_emprunt }}</td>
                <td>{{ emprunt.prenom }}</td>
                <td>{{ emprunt.auteur }}</td>
                <td>{{ emprunt.titre }}</td>
                <td>{{ emprunt.date_sortie|date('d/m/Y') }}</td>
                <td>
                    {% if emprunt.date_rendu is not empty %}
                        {# /!\ |date() renvoi la date actuelle si pas de valeur #}
                        {{ emprunt.date_rendu|date('d/m/Y') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
